.container {
    height: 100%;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.timeline-item {
    padding-bottom: 40px !important;
}

@media screen and (max-width: 500px) {
    .timeline-item {
        width: 20px;
    }

    .ant-timeline-item-tail {
        inset-inline-start: 24% !important;
    }
    .ant-timeline-item-head {
        inset-inline-start: 24% !important;
    }

    .ant-timeline-item-label {
        padding-left: 5px;
        text-align: left !important;
    }

    .ant-timeline-item-content {
        inset-inline-start: calc(24% - 4px) !important;
        width: 72% !important;
    }
}
